{% extends 'base.html' %}

{% block div %}<div class="fh5co-loader"></div>{% endblock %}	
{% block content %}	
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/static/images/IMG_1142.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>¡Confirma tu Asistencia!</h1>
							<!--h2>Nos casamos y ustedes no pueden faltar en nuestro día más importante.</h2-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	  <div id="fh5co-couple" style="padding: 0em 0;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center animate-box">
					<div data-aos="zoom-in" data-aos-duration="3000" class="col-10  row justify-content-center align-items-center  " style="    padding: 0px;
					margin-top: 37px;
					margin-bottom: 37px;">
						<img src="/static/images/lateral2.png" style="    height: 8rem;
						margin-bottom: 25px;">	
						<p style="font-size: 25px;">¡Nos casamos y ustedes no pueden faltar en nuestro día más importante!</p>
						<img src="/static/images/lateral.png" style="height: 8rem;">
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div id="fh5co-started" class="fh5co-bg" style="background-color:#b95733;" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-push-4 animate-box" style="border:3px solid #FFB74D; height:347px;" >
					<h3 style="color: #FFFF; position: relative;
					top: 1em; text-align: center;">Confirmación</h3>
					<p style="color: #FFFF; position: relative;
					top: 2em;">Ingresa tu código de invitado </p>
					<form action="/confirmacion/buscar" method="post">
						<!-- <div class="row form-group">
							<div class="col-md-6">
								<label for="nombreUser">Nombre</label>
								<input type="text" id="nombreUser" name="nombreUser" class="form-control" placeholder="Nombre">
							</div>
							<div class="col-md-6">
								<label for="apePat">Apellido Paterno</label>
								<input type="text" id="apePat" name="apePat" class="form-control" placeholder="Apellido Paterno">
							</div>
						</div> -->

						<div class="row form-group">
							<div class="col-md-12">
								<!--label style="color: #FFFF; position: relative; top: 3em; "for="email">Código</label-->
								<input type="text" id="codigo" name="codigo" class="form-control" placeholder="Código" style="color: #080707;
								position: relative;
								top: 3em;">
							</div>
						</div>
						<div class="form-group" style="text-align: center;">
							<input type="submit" value="Buscar" class="btn btn-primary" style=" height: 42px;
							height: 35px;
							background: #FFB74D;
							font-size: 12px;
							font-weight: 100;
							padding-left: 25px;
							padding-right: 25px;
							position: relative;
                            top: 7em;">
							
						</div>
					</form>		
				</div>
			</div>
			
		</div>
	</div>
{% endblock %}


